.update-note {
    visibility: hidden;
}

.get-password {
    float: left;
}

.send-password-form, .login-form, .hidden-note {
    display: none;
}

.show-login-form-link, .login-form, .logout {
    float: right;
}

#accordion:before {
    content: '.';
    display: block;
    height: 0;
    clear: both;
}

.delete-list {
    float: right;
}

@media screen and (max-width: 650px) {
    .delete-list  {
        float: none;
    }
}